<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Year released</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr class="border">
        <td class="border"><a href="https://placeholder.com"><img src="http://via.placeholder.com/270x380"></a></td>
        <td class="border"><%= movie.name %></td>
        <td class="border"><%= movie.genre %></td>
        <td class="border"><%= movie.year_released %></td>
        <td class="border"><%= movie.description %></td>
        <td class="border <%=colorize_box(average_review(movie).to_f) %>"><%= average_review(movie) %></td>
        <td class="border"><%= link_to 'Show', movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
