<%= form_with(model: [@movie, @review], local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="jumbotron my-4">
    <h2 class="display-4 mb-3">Add Review</h2>
    <div class="form-group row">
      <%= form.label :title, class: "col-2 col-form-label" %>
      <div class="col-10 ">
        <%= form.text_area :title, id: :review_title, class: "form-control", rows: "1" %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :score, class: "col-2 col-form-label" %>
      <div class="col-2">
        <%= form.select(:score, (0..10), {} , {:class => "form-control"})%>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :content, class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= form.text_area :content, id: :review_content, class: "form-control", rows: "5" %>
      </div>
    </div>

    <div class="text-center">
      <%= form.submit 'Post Review', class: "btn btn-outline-success"%>
    </div>
  </div>
<% end %>

