<!DOCTYPE html>
<html>
  <head>
    <title>ImdbOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary">

  <div class='container bg-light'>
    <div class="header clearfix my-3">
        <nav>
          <ul class="nav float-right">
            <a class="text-muted mr-1" href="/movies/">Home |</a>
            <% if user_signed_in? %>
              <%= link_to ' Edit account |', edit_user_registration_path, class: 'text-muted mr-1' %>
              <%= link_to ' Sign out ', destroy_user_session_path, class: 'text-muted', method: :delete %>
            <% else %>
              <%= link_to ' Sign in |', new_user_session_path, class: 'text-muted mr-1' %>
              <%= link_to ' Sign up', new_user_registration_path, class: 'text-muted' %>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted">
          <% if @movie %>
            <%= @movie.name %>
          <% else %>
            <%= "IMDB on Rails" %>
          <% end %>
        </h3>
      </div>
    <%= yield %>
  </div>
  </body>
</html>
