<!DOCTYPE html>
<html>
  <head>
    <title>ImdbOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary">

  <div class="container border bg-white">
    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">
          <% if @movie %>
            <%= @movie.name %>
          <% else %>
            <%= "IMDB on Rails" %>
          <% end %>
        </h3>
      </div>
    <%= yield %>
  </div>
  </body>
</html>
